<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2022 FullDive
  ~  This program is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  (at your option) any later version.
  ~
  ~  This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swordfish.lemuroid">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <permission
        android:name="com.fulldive.extension.fullroid.access.read"
        android:protectionLevel="signature" />

    <application
        android:name="com.swordfish.lemuroid.app.LemuroidApplication"
        android:allowBackup="true"
        android:banner="@mipmap/ic_banner"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/lemuroid_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.swordfish.lemuroid.app.mobile.feature.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.swordfish.lemuroid.app.shared.game.ExternalGameLauncherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/GameTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${applicationId}"
                    android:pathPattern="/play-game/id/.*"
                    android:scheme="lemuroid" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.swordfish.lemuroid.app.mobile.feature.game.GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:process=":game"
            android:theme="@style/GameTheme" />

        <service
            android:name=".app.mobile.feature.game.GameService"
            android:process=":game" />

        <activity
            android:name="com.swordfish.lemuroid.app.mobile.feature.gamemenu.GameMenuActivity"
            android:process=":game"
            android:theme="@style/PreferenceOverlay" />

        <activity
            android:name="com.swordfish.lemuroid.app.shared.settings.StorageFrameworkPickerLauncher"
            android:theme="@style/InvisibleTheme" />

        <!-- Leanback activities -->
        <activity
            android:name=".app.tv.main.MainTVActivity"
            android:theme="@style/LeanbackTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="${applicationId}"
                    android:pathPattern="/open-leanback"
                    android:scheme="lemuroid" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.tv.settings.TVSettingsActivity"
            android:theme="@style/LeanbackPreferences" />

        <activity
            android:name=".app.tv.folderpicker.TVFolderPickerActivity"
            android:theme="@style/Theme.Leanback.GuidedStep" />

        <activity android:name=".app.tv.folderpicker.TVFolderPickerLauncher" />

        <activity
            android:name=".app.tv.game.TVGameActivity"
            android:process=":game"
            android:theme="@style/GameTheme" />

        <activity
            android:name=".app.tv.gamemenu.TVGameMenuActivity"
            android:process=":game"
            android:theme="@style/LeanbackPreferences" />

        <activity
            android:name=".app.shared.gamecrash.GameCrashActivity"
            android:theme="@style/GameTheme" />

        <!-- It is not possible to invoke Work from another process with the default initializer.
             We have to disable it and manually initialize it in our custom Application. -->
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:enabled="false" />
        <provider
            android:name=".app.appextension.FulldiveContentProvider"
            android:authorities="com.fulldive.extension.fullroid.FulldiveContentProvider"
            android:exported="true"
            android:permission="com.fulldive.extension.fullroid.access.read" />
    </application>
</manifest>
