<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~  *  RetrogradeApplicationComponent.kt
  ~  *
  ~  *  Copyright (C) 2017 Retrograde Project
  ~  *
  ~  *  This program is free software: you can redistribute it and/or modify
  ~  *  it under the terms of the GNU General Public License as published by
  ~  *  the Free Software Foundation, either version 3 of the License, or
  ~  *  (at your option) any later version.
  ~  *
  ~  *  This program is distributed in the hope that it will be useful,
  ~  *  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  *  GNU General Public License for more details.
  ~  *
  ~  *  You should have received a copy of the GNU General Public License
  ~  *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~  *
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <permission
        android:name="com.fulldive.extension.fullroid.access.read"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <queries>
        <package android:name="com.fulldive.extension.fullroid.pro" />
    </queries>
    <application>
        <provider
            android:name=".app.appextension.FulldiveContentProvider"
            android:authorities="com.fulldive.extension.fullroid.FulldiveContentProvider"
            android:exported="true"
            android:permission="com.fulldive.extension.fullroid.access.read" />
    </application>
</manifest>
